<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized,
## (some of Python arithmetic expression summarized too)

## List popular languages for Data Science

*   **Python**
*   **SQL**
*   **R**
*   **Java**

## Some of the popular languages that Data Scientists use are:

<p>1.Python</p>
<p>2.R</p>
<p>3.SQL</p>
<p>4.Java</p>

## Some of the commonly used libraries used by Data Scientists include:

<p>1.Numpy</p>
<p>2.Pandas</p>
<p>3.Matplotlib</p>
<p>4.SciPy</p>
<p>5.SciKit-Learn</p>

## table of Data Science tools

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|Python|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
print("3+2=", 3+2)
print("3-2=", 3-2)
print("3*(4+5)=", 3*(4+5))
print("4/2=", 4,2)

3+2= 5
3-2= 1
3*(4+5)= 27
4/2= 4 2

<p> This a simple arithmetic expression to mutiply </p>
(a*b)
<p> also we can add  c  value </p>
(a*b) + c

In [2]:
print("(3*4)+5=", (3*4)+5)

(3*4)+5= 17

## This will convert 200 minutes to hours by diving by 60

In [3]:
_200_minutes = 200
minutes = 60
print(_200_minutes/60)

3.3333333333333335

## Author

Nima

## Author

Nima